<form ng-show="$ctrl.formToggle" ng-submit= "$ctrl.addPost({newPost: $ctrl.newPost})"> 
    <p class="formtitle">Title</p>
    <input class ="input1" placeholder="Post Title" id="input1" expand type="text" ng-model= "$ctrl.newPost.title">
    <!-- Gave the inputs an id of $ctrl.newPost.title -->
    <!-- They have $ctrl.newPost in common so you have to include it in your form -->
    <p class="formthought">Thought</p>
    <textarea class ="input2" id="input2" expand name="" id="" cols="30" rows="10" ng-model="$ctrl.newPost.thought"></textarea>
    <button class="adpostbut">Add Post</button>

</form>

